.footer {
  @include format-text ($font-Montserrat-Medium, 18px, $color-white, null);
  background-color: $color-black;
  padding: 90px 0;

  .list {
    list-style-type: none;

    &__link {
      color: $color-white;
      text-decoration: none;
      transition: all .3s ease;

      &:hover {
        color: $color-blue;
      }
    }
  }

  &__categories {
    display: flex;
  }

  .our-address {
    .mail {
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-blue;
      }
    }
  }
}

.header-common {
  .nav {
    $this : '.nav';

    .active {
      #{$this}__link {
        color: $color-blue;
      }
    }
  }
}
