@font-face {
  font-family: Montserrat-Medium;
  src: url('../font/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Myriad-Pro-Regular;
  src: url('../font/Myriad-Pro-Regular.ttf');
}

@font-face {
  font-family: Nunito-Regular;
  src: url('../font/Nunito-Regular.ttf');
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url('../font/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url('../font/Pe-icon-7-stroke.ttf');
}

