$font-Montserrat-Medium : 'Montserrat-Medium';
$font-Nunito-Regular : 'Nunito-Regular';
$font-Myriad-Pro-Regular : 'Myriad-Pro-Regular';
$font-NunitoSans-Regular : 'NunitoSans-Regular';

$color-black : #000;
$color-white: #fff;
$color-black-1 : #787878;
$color-blue : #10c9c3;
$color-blue-1 : #2c8f8b;
$color-blue-2 : #007874;
$color-grey : #f8f9f9;
$color-grey-1 : #f5f5f5;
$color-grey-2 : #d8d8d8;

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
